<app-navbar></app-navbar>

<div class="bg-img">

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card class="box">

      <mat-card-header>
        <mat-card-title><h1><b>Member Enrollment</b></h1></mat-card-title>
      </mat-card-header>

      <!--{{user | json}}-->

      <form class="example-form" (ngSubmit)="formSubmit()">
        
        <mat-card-content>

            <!--Title-->
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <select [(ngModel)]="user.title" name="title" matNativeControl required>
                    <option value="Mr">Mr</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Mx">Mx</option>
                </select>
            </mat-form-field>
<!--
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input [(ngModel)]="user.title" name="title" matInput placeholder="Placeholder">
            </mat-form-field>-->
            <br>

            <!--First name field-->
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.fname" name="fname" matNativeControl required matInput placeholder="Enter First Name...">
            </mat-form-field>
            &nbsp;

            <!--Last name field-->
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lname" name="lname" matNativeControl required matInput placeholder="Enter Last Name...">
            </mat-form-field>
            <br>

            <!--Country field-->
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input [(ngModel)]="user.country" name="country" matNativeControl required matInput placeholder="Enter Country">
            </mat-form-field>
            &nbsp;

            <!--DOB-->
            <mat-form-field appearance="outline">
                <mat-label>Date Of Birth</mat-label>
                <input type="date" [(ngModel)]="user.dob" name="dob" matNativeControl required matInput >
            </mat-form-field>
            <br>

            <!--Contact field-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contact No.</mat-label>
                <input type="tel" [(ngModel)]="user.contact" name="contact" maxlength="10" matNativeControl required matInput placeholder="Enter Contact No..." >
            </mat-form-field>
            <br>

            <!--pass-->
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="user.password" name="password" type="password" matNativeControl required matInput placeholder="Password...">
            </mat-form-field>
            &nbsp;

            <!--Confirm pass-->
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" matNativeControl required matInput placeholder="Confirm Password...">
            </mat-form-field>
            <br>

            <!--Email field-->
            <div class="form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>E-mail address</mat-label>
                <input [(ngModel)]="user.email" type="email" name="email" matNativeControl required matInput placeholder="abc@gmail.com">
            </mat-form-field>
            <!--<div class="error" *ngIf="email?.invalid && email?.touched">Enter valid email!</div>-->
            </div>
            <br>
            <br>
            
            <!--T&C CheckBox-->
            <mat-checkbox #confirmed class="example-margin">I agree to the Terms & Conditions</mat-checkbox>
            <br>

            <!--Submit Button-->
            <button type="submit" class="btn-prop" mat-raised-button [disabled]="((!confirmed.checked))">SignUp</button>
            <br><br>

            <h3>Already have an account? <a href="/login">Login</a></h3>


        </mat-card-content>
      </form>
    </mat-card>
  </div>
  </div>
