<mat-toolbar class="navbar-gen">

    <!--Home-->
    <a href="/"mat-icon-button class="example-icon" aria-hidden="false" aria-label="Example home icon">
      <mat-icon style="color:white;">home</mat-icon>
    </a>
    <span style="color:white;">Home</span>
    
    <!--Book flight-->
    <span class="example-spacer1">
        <button mat-icon-button class="example-icon">
            <span><h2>Book A Flight</h2></span>
        </button>
    </span>

    <!--Help-->
    <span class="example-spacer2">
    <button mat-icon-button class="example-icon" >
      <span><h2>Help</h2></span>
    </button>
    </span>
  </mat-toolbar>

  