<app-navbar></app-navbar>
<div class="bg-img">

    <mat-card class="box">
       <div class="header">
        <h1><pre style="font-family: Roboto;">Your  Comfort  is 
our  Priority</pre></h1>
        <h2><pre style="font-family: Roboto;">Come, we'll help you fly...</pre></h2>
       </div>

       <!--Submit Button-->
       <button onclick="document.location.href='/signup'" type="submit" class="btn-prop" mat-raised-button>SignUp</button>
       <br><br>

       <h3>Already have an account? <a href="/login">Login</a></h3>
    </mat-card>
</div>