<app-navbar></app-navbar>

<div class="bg-img">

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card class="box">

      <mat-card-header>
        <mat-card-title><h1><b>Login</b></h1></mat-card-title>
      </mat-card-header><br>     

     {{ userLogin | json }}

    <form class="example-form" (ngSubmit)="formSubmit()">

        <mat-card-content class="card">

            <!--Email field-->
            <div class="form-group">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>E-mail address</mat-label>
                    <input [(ngModel)]="userLogin.email" type="email" name="email" matNativeControl required matInput placeholder="abc@gmail.com">
                </mat-form-field>
                <!--<div class="error" *ngIf="email?.invalid && email?.touched">Enter valid email!</div>-->
            </div>
            <br>

            <!--pass-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="userLogin.password" name="password" type="password" matNativeControl required matInput placeholder="Placeholder">
            </mat-form-field>
            <br><br>

            <!--Submit Button-->
            <button type="submit" class="btn-prop" mat-raised-button>Login</button>

    </mat-card-content>

    </form>
</mat-card>
</div>
</div>
